
/*
 * This file contains CSS definitions that are less essential than those in `holidays_demo.css'.
 * These are specific to the way `holidays_demo.theme' formats the calendar, and you shouldn't need
 * to include this file in your own code.
 */

table.calendar {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

#method-warning {
  color: #f00;
  width: 10em;
}

.navigator-table {
}

.navigator-table td {
  padding-left: 1em;
  padding-right: 1em;
}

.navigator-today {
  text-align: center;
  font-weight: bold;
}

.navigator {
  text-align: center;
  font-size: 130%;
  margin: 0.5em;
}

a {
  color: #0000ee;
}
a:visited {
  color: #0000ee;
}

.title {
  font-family: serif;
  text-align: center;
  font-weight: bold;
  font-size: 220%;
  margin-bottom: 0.6em;
}

.calendar-range {
  text-align: center;
  font-weight: bold;
}

.navigator select {
  font-size: 110%;
  font-family: sans-serif;
}

pre {
  padding: .8em;
  background: #eee;
  font-size: smaller;
}

.instructions p {
  line-height: 130%;
}

@media print {

  body {
    margin: 0px;
    font-family: serif;
  }

  .navigator-today, .instructions, #preferences {
    display: none;
  }
  
  select {
    font-family: serif;
  }

}
